name: Run Tests

on: [push]

jobs:
  test-postgres-gateway:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13.4
        ports:
          - 5432/tcp
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
    steps:
      - uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          default: true
          components: rustfmt
      - run: cd postgres_gateway
      - name: Ensure `cargo fmt` has been run
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check
      - run: pip install -r requirements/requirements.txt -r requirements/requirements.test.txt
      - run: python setup.py develop
      - run: pytest -vv
